.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.app {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 10px;
  padding: 10px;
  font-size: 1em;
}

form button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.chat-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
}

video {
  width: 45%;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 5px;
}

.user-list {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}

.chat-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messages {
  width: 80%;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  max-width: 60%;
}

.message.sent {
  background-color: #cfe9ff;
  align-self: flex-end;
  text-align: right;
}

.message.received {
  background-color: #d9fdd3;
  align-self: flex-start;
  text-align: left;
}

form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input {
  width: 85%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  width: 10%;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: #fff;
}